<div class="header">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Haber Ara">
    <button (click)="onSearch()">Ara</button>
  </div>
</div>

<div class="slider-container" *ngIf="sliderArticles.length > 0">
  <div class="slider" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
    <div class="slide" *ngFor="let article of sliderArticles; let i = index">
      <img [src]="article.urlToImage" alt="{{ article.title }}">
      <div class="slide-info">
        <h2>{{ article.title }}</h2>
        <p>{{ article.description }}</p>
      </div>
    </div>
  </div>
  <button class="prev" (click)="prevSlide()">&#10094;</button>
  <button class="next" (click)="nextSlide()">&#10095;</button>
</div>

<div class="articles-container">
  <div *ngFor="let article of remainingArticles" class="article">
    <h2>{{ article.title }}</h2>
    <p>{{ article.description }}</p>
    <a [href]="article.url" target="_blank">Devamını oku</a>
    <hr>
  </div>
</div>

<div *ngIf="totalResults > pageSize" class="pagination">
  <button *ngFor="let p of [].constructor(Math.ceil(totalResults / pageSize)); let i = index" 
          (click)="goToPage(i + 1)">
    {{ i + 1 }}
  </button>
</div>
